@import url(./normalize.css);
@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
   box-sizing: border-box;  
}

nav {
   font-size: 1.1rem;
   margin: 0;
}

a.nav-link {
   margin-left: 25px;
   padding: 10px;
}

body {
   background-color: #F7EDED;
   font-family: 'Poppins', sans-serif;
}

p {
   text-align: justify;
}

/* title */
.mainTitle {
   text-align: center;
   background: #B19180 url(https://img.myloview.com.br/fotomurais/world-map-digital-technology-concept-business-networking-background-700-193525872.jpg) left center;
   /* background: linear-gradient(45deg, black 10%, #221133 70%); */
   background-size: cover;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   padding: 5.4rem;
   letter-spacing: .2rem;
   font-family: 'Roboto Mono', monospace;

}

h1.display-4 {
   font-weight: bolder;
}


/*  end title */

/* first content section */
#firstContent, #secondContent {
   background-color: rgb(229, 229, 229);
   padding: 1rem;
}


div.row:not(.lastRow) {
   border-bottom: 3px solid #d1d1d1;
}
div.row {
   padding-bottom: 50px;
   padding-top: 30px;
}

.img {
   border-radius: 30px;
   width: 25%;
   opacity: .9;
   border: 10px solid #fff;
   align-self: center;
}


h2 {
   font-weight: bold;
   font-size: 1.4rem;
   letter-spacing: 2px;
   padding: 0 0 25px 0;
   margin-bottom: 10px;
   color: #708C78;
   
}


button {
   margin: 15px 0 0 0;
}

/* end first content section */

/* second content */

h3 {
   font-weight: bold;
   font-size: 1.5rem;
   padding: 15px 0;

}

h3~p {
   font-size: 1rem;
   padding: 0 0 25px 0;
}

#secondContent img{
   width: 80%;
   height: auto;
}

#secondContent p {
   text-align: center;
}
/* end second content */

footer {
   font-size: 1.2em;
   padding: 20px;
   background-color: #d1d1d1;
}
/* media queries */

@media (max-width:500px) {
   /* remove scrollbar */
   body::-webkit-scrollbar{
      display: none;
    }

   .mainTitle {
      padding: 3.5rem;
      height: 230px;
   }

   h1 span {
      font-size: 1.9rem;
   }

   h1.display-4 {
      font-size: 2.5rem;
   }

   a.nav-link {
      margin: 0;
   }

   div.mobile-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   #firstContent .row div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
     
   }

   .img {
      width: 85%;
   }

   #secondContent img {
      width: 85%;
   }

   .col-md-8 h2 {
      display: none;
   }
}

@media (min-width:800px) {
   .img {
      width: 85%;
   }

   div.col-md-8 {
      margin-top: 18px;
   }

   
   div.col-md-4.d-md-block.d-none {
      margin-right: -40px;
   }

   div.col-md-8:nth-of-type(2n + 1)  {
      margin-top: 18px;
      margin-left: -20px;
   }

   .col-md-8 h2 {
      margin-bottom: 0;
   }
}

/* header bg outline border radius */
/* navbar left logo */