@import url(./normalize.css);
@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

* {
  box-sizing: border-box;
}

nav {
  font-size: 1rem;
  margin: 0;
}

.icon {
  margin-bottom: -3px;
  color: black;
}

a.nav-link {
  margin-left: 20px;
  padding: 7px 0 7px 7px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

body {
  background-color: #f7eded;
  font-family: "Poppins", sans-serif;
}

p {
  text-align: start;
  line-height: 22px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p.line-break {
  margin-top: -13px;
}

/* title */
.mainTitle {
  text-align: center;
  background: rgba(0, 255, 255, 0.5) url(/img/main.jpg) left center;
  border-bottom: 1px solid black;
  /* background: linear-gradient(45deg, black 10%, #221133 70%); */
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 5.4rem;
  letter-spacing: 0.2rem;
  font-family: "Roboto Mono", monospace;
}

h1.display-4 {
  font-weight: bolder;
}

/*  end title */

/* first content section */

#firstContent,
#secondContent {
  background-color: rgb(229, 229, 229);
  padding: 1rem;
}

div.row:not(.lastRow) {
  border-bottom: 3px solid #d1d1d1;
}

div.row {
  padding-bottom: 50px;
  padding-top: 30px;
}

.img {
  border-radius: 30px;
  width: 25%;
  opacity: 0.9;
  border: 10px solid #fff;
  align-self: center;
  max-height: 600px;
}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 0 0 25px 0;
  margin-bottom: 10px;
  color: #708c78;
}

#firstContent a {
  margin: 15px 0 0 0;
}

/* end first content section */

/* second content */

h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px 0;
}

h3 ~ p {
  font-size: 0.9rem;
  padding: 0 0px 25px 0px;
}

#secondContent img {
  max-width: 85%;
  max-height: 200px;
}

div.row.text-center {
  margin-left: 0;
  margin-right: 0;
}

/* end second content */

footer {
  font-size: 1em;
  padding: 14px;
  background-color: #d1d1d1;
}

.thirdSection h2 {
  font-size: 1.4em;
  margin-top: 25px;
}

.thirdSection p {
  margin-top: 15px;
}

div.mb-5 {
  margin-top: -30px;
}
/* media queries */

@media (max-width: 500px) {
  /* remove scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }

  .mainTitle {
    padding: 3.5rem;
    height: 230px;
  }

  h1 span {
    font-size: 1.9rem;
  }

  h1.display-4 {
    font-size: 2.5rem;
  }

  a.nav-link {
    margin: 0;
  }

  div.mobile-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #firstContent .row div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
  }

  .img {
    width: 91%;
    align-self: flex-start;
  }

  #firstContent h2 {
    align-self: flex-start;
    margin-bottom: 0px;
  }

  #secondContent img {
    width: 100%;
  }

  .col-md-7 h2 {
    display: none;
  }

  #firstContent p {
    text-align: start;
  }

  #secondContent {
    padding: 0;
    padding-bottom: 15px;
  }

  p.line-break {
    margin-top: 0;
  }

  a.nav-link {
    padding: 15px 0 5px 0;
  }
}

@media (min-width: 800px) {
  .img {
    width: 85%;
  }

  .text1 {
    padding-right: 60px;
  }

  .text2 {
    padding-left: 60px;
  }

  .img1 {
    padding-left: 20px;
  }

  .img2 {
    padding-right: 20px;
    padding-top: 25px;
  }

  .col-md-7 h2 {
    margin-bottom: 0;
    text-align: center;
    margin-top: 31px;
  }

  #firstContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
  }

  div.row {
    padding-top: 40px;
  }

  a.btn.btn-outline-dark {
    float: left;
  }

  .mainTitle {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .buttonSection h2 {
    margin-top: 0px;
  }

  h3 ~ p {
    padding: 0 25px 25px 35px;
  }

  .col-md-4 {
    padding: 15px;
    padding-bottom: 0;
  }

  .col-md-4 h3 {
    padding: 20px 0 20px 0;
  }

  #secondContent div.row {
    padding: 0;
  }

  #firstContent .img2 img {
    height: 500px;
  }

  nav.navbar {
    padding: 0.3rem;
  }

  .thirdSection h2 {
    margin-top: 25px;
  }
  .thirdSection {
    font-size: 0.9em;
  }

  .img3 {
    padding-right: 20px;
    padding-top: 25px;
  }
}
